.rbox {
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 2px;
}

.rboxEven {
    border: 2px solid #8AC007;
}

.rboxOdd {
    border: 2px solid cyan;
}

.speakerImage {
    width: 100%;
    max-width: 200px;
}

.bigLink {
    font-size: 20px;
}